﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Service Examples</h1>
</div>
<div class="alert alert-danger" data-bind="visible: error">
    <p data-bind="text: error"></p>
</div>
<div class="alert alert-success" data-bind="visible: success">
    <p data-bind="text: success"></p>
</div>
<div class="alert alert-info" data-bind="visible: info">
    <p data-bind="text: info"></p>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Update Service Request VW ID</h2>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" data-bind="submit: AddVueWorksIDToServiceRequest">
                    <div class="form-group" data-bind="with: updatedServiceRequest">

                        <label for="inputCSC_SR_ID" class="col-sm-4 control-label">CSC_SR_ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCSC_SR_ID" data-bind="value:CSC_SR_ID" />
                        </div>

                        <label for="inputHMMS_SR_ID" class="col-sm-4 control-label">HMMS_SR_ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputHMMS_SR_ID" data-bind="value:HMMS_SR_ID" />
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Update</button>
                </form>



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Update Service Request Status</h2>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" data-bind="submit: UpdateServiceRequestStatus">
                    <div class="form-group" data-bind="with: updatedServiceRequest">

                        <label for="inputCSC_SR_ID" class="col-sm-4 control-label">CSC_SR_ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCSC_SR_ID" data-bind="value:CSC_SR_ID" />
                        </div>

                        <label for="inputStatus" class="col-sm-4 control-label">Status</label>
                        <div class="col-sm-8">

                            <select id="inputStatus" data-bind="options: $root.statusCodes, value:Status"></select>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-default">Update</button>
                </form>



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Comment To Service Request</h2>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" data-bind="submit: AddCommentToServiceRequest">
                    <div class="form-group" data-bind="with: newComment">

                        <label for="inputCSC_SR_ID" class="col-sm-4 control-label">CSC_SR_ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCSC_SR_ID" data-bind="value:CSC_SR_ID" />
                        </div>

                        <label for="inputCommentText" class="col-sm-4 control-label">Comment</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCommentText" data-bind="value:CommentText"/>
                        </div>

                        <label for="inputCommentSubject" class="col-sm-4 control-label">Comment Subject</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCommentSubject" data-bind="value:CommentSubject" />
                        </div>

                        <label for="inputTimeStamp" class="col-sm-4 control-label">TimeStamp</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputTimeStamp" data-bind="value:TimeStamp" />
                        </div>

                        <label for="inputuseDBForCompare" class="col-sm-4 control-label">Use DB For Compare</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="inputuseDBForCompare" data-bind="checked: useDBForCompare" />
                        </div>



                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>



            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get Service Requests</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: getvdot_servicerequest">
                    <button type="submit" class="btn btn-default">Get VDOT Service Requests</button>
                </form>
                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Service Requests</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                        <tr><th>ID</th><th>VW_ID</th><th>CreatedByName</th><th>vdot_SubmittedOn</th><th>ModifiedOn</th></tr>
                    </thead>
                    <tbody data-bind="foreach: serviceRequests">
                        <tr>
                            <td data-bind="text: CSC_SR_ID"></td>
                            <td data-bind="text: HMMS_SR_ID"></td>
                            <td data-bind="text: CreatedByName"></td>
                            <td data-bind="text: vdot_SubmittedOn"></td>
                            <td data-bind="text: ModifiedOn"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get HMMS Comments</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: getHMMSComments">
                    <button type="submit" class="btn btn-default">Get HMMS Comments</button>
                </form>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">HMMS Comments</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                    <tr><th>HMMS_SR_ID</th><th>CSC_SR_ID</th><th>WorkOrderID</th><th>CommentType</th><th>Comment</th><th>CommentCreationDate</th><th>CommentUpdateDate</th></tr>
                    </thead>
                    <tbody data-bind="foreach: comments_hmms">
                    <tr>
                        <td data-bind="text: HMMS_SR_ID"></td>
                        <td data-bind="text: CSC_SR_ID"></td>
                        <td data-bind="text: WorkOrderID"></td>
                        <td data-bind="text: CommentType"></td>
                        <td data-bind="text: Comment"></td>
                        <td data-bind="text: CommentCreationDate"></td>
                        <td data-bind="text: CommentUpdateDate"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get CSC Comments</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: getCSCComments">
                    <button type="submit" class="btn btn-default">Get CSC Comments</button>
                </form>

            </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">CSC Comments</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-responsive">
                <thead>
                <tr>
                    <th>AnnotationId</th>
                    <th>CSC_SR_ID</th>
                    <th>HMMS_SR_ID</th>
                    <th>subject</th>
                    <th>NoteText</th>
                    <th>modifiedOn</th>
                    <th>duplicateCount</th>
                    <th>HMMS_SR_ID</th>
                    <th>CSC_SR_ID</th>
                    <th>WorkOrderID</th>
                    <th>CommentType</th>
                    <th>Comment</th>
                    <th>CommentCreationDate</th>
                    <th>CommentUpdateDate</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: comments_csc">
                <tr>
                    <td data-bind="text: AnnotationId"> </td>
                    <td data-bind="text: CSC_SR_ID"></td>
                    <td data-bind="text: HMMS_SR_ID"></td>
                    <td data-bind="text: subject"></td>
                    <td data-bind="text: NoteText"></td>
                    <td data-bind="text: modifiedOn"></td>
                    <td data-bind="text: duplicateCount"></td>
                    <td data-bind="text: HMMS_SR_ID"></td>
                    <td data-bind="text: CSC_SR_ID"></td>
                    <td data-bind="text: WorkOrderID"></td>
                    <td data-bind="text: CommentType"></td>
                    <td data-bind="text: Comment"></td>
                    <td data-bind="text: CommentUpdateDate"></td>
                    <td data-bind="text: CommentCreationDate"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get HMMS Service Request Closures</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: getSr_closures">
                    <button type="submit" class="btn btn-default">Get Service Request Closures</button>
                </form>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">HMMS Service Request Closures</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                    <tr><th>HMMS_SR_ID</th><th>CSC_SR_ID</th><th>ClosedDate</th><th>ClosedByName</th><th>StatusName</th></tr>
                    </thead>
                    <tbody data-bind="foreach: sr_closures_hmms">
                    <tr>
                        <td data-bind="text: HMMS_SR_ID"></td>
                        <td data-bind="text: CSC_SR_ID"></td>
                        <td data-bind="text: ClosedDate"></td>
                        <td data-bind="text: ClosedByName"></td>
                        <td data-bind="text: StatusName"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get CSC Service Request Cancels</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: getSr_cancels_csc">
                    <button type="submit" class="btn btn-default">Get Service Request Cancels</button>
                </form>

            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">CSC Service Request Cancels</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-responsive">
                <thead>
                <tr><th>HMMS_SR_ID</th><th>CancellationReason</th></tr>
                </thead>
                <tbody data-bind="foreach: sr_cancels_csc">
                <tr>
                    <td data-bind="text: HMMS_SR_ID"></td>
                    <td data-bind="text: CancellationReason"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>




        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Get HMMS 'To Customer' fields from Work Orders</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: get_wo_to_customer">
                    <button type="submit" class="btn btn-default">Get WO 'To Customer' fields</button>
                </form>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">HMMS WO 'To CUstomer' fields</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>HMMS_WO_ID</th>
                        <th>HMMS_SR_ID</th>
                        <th>CSC_SR_ID</th>
                        <th>Subject</th>
                        <th>Text</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: wo_to_customer">
                    <tr>
                        <td data-bind="text: HMMS_WO_ID"></td>
                        <td data-bind="text: HMMS_SR_ID"></td>
                        <td data-bind="text: CSC_SR_ID"></td>
                        <td data-bind="text: SUBJECT"></td>
                        <td data-bind="text: Text"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>

api/HMMS/workorders/toCustomer